<div class="w-full lg:max-w-4xl m-auto lg:my-4 space-y-4">
  <nav class="w-full flex  border-b-2 px-2 lg:px-0">
    <h1 class="font-bold text-3xl">Task Board</h1>
  </nav>


  <div class="px-2 lg:px-0">
    <h2 class="text-lg font-bold">New Task</h2>
        <div class="border rounded py-4">
          <form  class="grid grid-cols-1 lg:grid-cols-3 gap-3 px-3 py-4 items-center" [formGroup]="newTaskForm">
            <div class="flex flex-col relative">
              <input required type="text" formControlName="name" placeholder="Title" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <small
                *ngIf="!newTaskForm.get('name')?.valid && newTaskForm.get('name')?.touched"
                class="text-red-400 absolute bottom-12"
              >*Please add task Title
              </small>
            </div>
            <div class="flex flex-col relative">
              <input required type="text" formControlName="desc" placeholder="Description" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <small
                *ngIf="!newTaskForm.get('desc')?.valid && newTaskForm.get('desc')?.touched"
                class="text-red-400 absolute bottom-12"
              >
                *Please add task Description
              </small>
            </div>
            <button type="button"
                    class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    [disabled]="!newTaskForm?.valid"
                    (click)="addTask()"
            >Add </button>
          </form>


        </div>

      </div>


    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 px-2 lg:px-0 ">
      <div class=" bg-gray-100">
        <div
          class="p-2 border-0"
          cdkDropList
          #openList="cdkDropList"
          [cdkDropListData]="open"
          [cdkDropListConnectedTo]="[completedList, openList, pendingList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <nav class="border-b flex items-center justify-between px-2 ">
            <div>Open</div>
            <div>{{ open.length }}</div>
          </nav>

          <mat-card class="!p-2 !rounded !border-0 !shadow-lg " cdkDrag *ngFor="let item of open">
            <div>
              <div class="text-right">
                 <span class="text-red-400 text-lg p-1" (click)="deleteTask(item.date, 'open')">
                x
              </span>
              </div>
              <mat-card-title class="!font-bold  !mb-2 ">
<!--                <p class="text-primary"> Name:</p>-->
                {{ item?.name }}</mat-card-title>
              <hr>
              <mat-card-subtitle class="!font-normal !text-sm !my-2 "
              >
<!--                <p class="text-primary"> Description:</p>-->
                {{ item?.desc }}</mat-card-subtitle
              >
            </div>
            <hr>
            <div class="text-gray-400 text-xs py-2">
              Created Date:
              {{ item?.date | date:"medium":"medium" }}
            </div>
          </mat-card>

          <div class="m-3" *ngIf="open.length === 0">
            No open tasks to do..!!
          </div>
        </div>
      </div>

      <div class=" ">
        <div
          class="list"
          cdkDropList
          #pendingList="cdkDropList"
          [cdkDropListData]="pending"
          [cdkDropListConnectedTo]="[completedList, openList, pendingList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <nav class="border-b flex items-center justify-between px-2 ">
            <div>Pending</div>
            <div>{{ pending.length }}</div>
          </nav>

          <mat-card class="!p-2 !rounded !border-0 !shadow-lg " cdkDrag *ngFor="let item of pending">

            <div>
              <div class="text-right">
                 <span class="text-red-400 text-lg p-1" (click)="deleteTask(item.date, 'pending')">
                x
              </span>
              </div>
              <mat-card-title class="!font-bold  !mb-2 ">
                <!--                <p class="text-primary"> Name:</p>-->
                {{ item?.name }}</mat-card-title>
              <hr>
              <mat-card-subtitle class="!font-normal !text-sm !my-2 "
              >
                <!--                <p class="text-primary"> Description:</p>-->
                {{ item?.desc }}</mat-card-subtitle
              >
            </div>
            <hr>
            <div class="text-gray-400 text-xs py-2">
              Created Date:
              {{ item?.date | date:"medium":"medium" }}
            </div>
          </mat-card>
          <div class="alert alert-info m-3" *ngIf="pending.length === 0">
            No Pending tasks !!
          </div>
        </div>
      </div>

      <div class=" ">
        <div
          class="list"
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[completedList, openList, pendingList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <nav  class="border-b flex items-center justify-between px-2 ">
            <div>In Progress</div>
            <div>{{ inProgress.length }}</div>
          </nav>

          <mat-card class="!p-2 !rounded !border-0 !shadow-lg " cdkDrag *ngFor="let item of inProgress">
            <div>
              <div class="text-right">
                 <span class="text-red-400 text-lg p-1" (click)="deleteTask(item.date, 'inProgress')">
                x
              </span>
              </div>
              <mat-card-title class="!font-bold  !mb-2 ">
                <!--                <p class="text-primary"> Name:</p>-->
                {{ item?.name }}</mat-card-title>
              <hr>
              <mat-card-subtitle class="!font-normal !text-sm !my-2 "
              >
                <!--                <p class="text-primary"> Description:</p>-->
                {{ item?.desc }}</mat-card-subtitle
              >
            </div>
            <hr>
            <div class="text-gray-400 text-xs py-2">
              Created Date:
              {{ item?.date | date:"medium":"medium" }}
            </div>
          </mat-card>
          <div class="alert alert-info m-3" *ngIf="inProgress.length === 0">
            You have no task in progress !!
          </div>
        </div>
      </div>
      <div class=" ">
        <div
          class="list"
          cdkDropList
          #completedList="cdkDropList"
          [cdkDropListData]="completed"
          [cdkDropListConnectedTo]="[completedList, openList, pendingList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
        >
          <nav  class="border-b flex items-center justify-between px-2 ">
            <div>Completed</div>
            <div>{{ completed.length }}</div>
          </nav>

          <mat-card class="!p-2 !rounded !border-0 !shadow-lg " cdkDrag *ngFor="let item of completed">
            <div>
              <div class="text-right">
                 <span class="text-red-400 text-lg p-1" (click)="deleteTask(item.date, 'completed')">
                x
              </span>
              </div>
              <mat-card-title class="!font-bold  !mb-2 ">
                <!--                <p class="text-primary"> Name:</p>-->
                {{ item?.name }}</mat-card-title>
              <hr>
              <mat-card-subtitle class="!font-normal !text-sm !my-2 "
              >
                <!--                <p class="text-primary"> Description:</p>-->
                {{ item?.desc }}</mat-card-subtitle
              >
            </div>
            <hr>
            <div class="text-gray-400 text-xs py-2">
              Created Date:
              {{ item?.date | date:"medium":"medium" }}
            </div>
          </mat-card>
          <div class="alert alert-info m-3" *ngIf="completed.length === 0">
            You have no completed tasks !!
          </div>
        </div>
      </div>
    </div>
</div>

